### Import Dependencies

In [27]:
import pandas as pd
from sqlalchemy import create_engine
low_memory=False

### Import datasets

In [2]:
#import the IMDb csv
imdb_file = "Resources/IMDb_movies.csv"
imdb_db = pd.read_csv(imdb_file)

C:\Users\Isaac Becker\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#import the Netflix csv
netflix_file = "Resources/netflix_titles.csv"
netflix_db = pd.read_csv(netflix_file)

In [4]:
#import the HBO csv
hbo_file= "Resources/HBO_movies.csv"
hbo_db = pd.read_csv(hbo_file)

In [5]:
#import the Amazon csv
amazon_file = "Resources/amazon_prime_movies.csv"
amazon_db = pd.read_csv(amazon_file)

In [6]:
#import the Disney Plus csv
disney_file = "Resources/disney_plus_shows.csv"
disney_db = pd.read_csv(disney_file)

### Clean the Datasets

In [43]:
imdb_clean_db = imdb_db[['title',"avg_vote","budget","worlwide_gross_income"]].copy()
imdb_clean_db = imdb_clean_db.rename(columns={
    "avg_vote":"vote_average",
    "worlwide_gross_income":"revenue"
})
imdb_clean_db['budget'] = imdb_clean_db['budget'].str.replace('$',"")
imdb_clean_db['revenue'] = imdb_clean_db['revenue'].str.replace('$',"")
imdb_clean_db = imdb_clean_db.drop_duplicates(subset=['title'])
imdb_clean_db = imdb_clean_db.dropna()

In [37]:
netflix_clean_db = netflix_db[["title","rating"]].copy()

In [38]:
hbo_db = hbo_db.replace("18+","R")
hbo_db = hbo_db.replace("13+","PG-13")
hbo_db = hbo_db.replace("7+","PG")
hbo_db = hbo_db.replace("all","G")
hbo_db = hbo_db.rename(columns={"movie":"title",
                               "rating":"rating"})
hbo_clean_db= hbo_db[["title","rating"]].copy()

In [39]:
amazon_db = amazon_db.replace("18+","R")
amazon_db = amazon_db.replace("13+","PG-13")
amazon_db = amazon_db.replace("7+","PG")
amazon_db = amazon_db.replace("All","G")
amazon_db = amazon_db.rename(columns={"Movie Name":"title",
                                      "Maturity Rating":"rating"})
amazon_clean_db = amazon_db[["title","rating"]].copy()

In [40]:
disney_db = disney_db.rename(columns={"rated":"rating"})
disney_clean_db = disney_db[["title","rating"]].copy()

### Connect to SQL

In [20]:
connection_string = "postgres:postgres@localhost:5432/streaming_db"
engine = create_engine(f'postgresql://{connection_string}')

In [34]:
imdb_clean_db.to_sql(name='imdb', con=engine, if_exists='append', index=False)

In [22]:
netflix_clean_db.to_sql(name='netflix', con=engine, if_exists='append', index=False)

In [23]:
hbo_clean_db.to_sql(name='hbo', con=engine, if_exists='append', index=False)

In [35]:
amazon_clean_db.to_sql(name='amazon', con=engine, if_exists='append', index=False)

In [25]:
disney_clean_db.to_sql(name='disney', con=engine, if_exists='append', index=False)

In [26]:
pd.read_sql_query('select * from netflix', con=engine).head()

   title rating
0     3%  TV-MA
1   7:19  TV-MA
2  23:59      R
3      9  PG-13
4     21  PG-13